/* Seteo Inicial */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Ejercicio 1 */
.formulario{
    align-items: center;
    border: solid 1px rgb(59, 59, 219);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.input{
    height: 25px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.384);
    border-radius: 5px;
    text-align: center;
}
.color{
    border: none;
    height: 30px;
}
/* Comienzo Ejercicio 2 */
.Ej2{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
/* Diseño textarea */
.areaText{
    min-width: 1000px;
    height: 200px;
}

/* Validación textarea */
textarea:valid {border-color: rgb(7, 223, 7);}
textarea:invalid {border-color: rgb(223, 14, 7);}
/* Creación de animación */
@keyframes shake {
    0%,100% {transform: translateX(0);}
    25% {transform: translateX(8px);}
    75% {transform: translateX(-8px)}
}
textarea:invalid {animation: shake 0.2s 0s 3;}

/* Ejercicio 4 */
#txtCaracteres{
    width: 25%;
    height: 60px;
}

/* Ejercicio 5 */

/* Ajuste de div e imagenes */
.imageContentDisplay{
    border: solid 2px blue;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 540px;
}
.image{
    height: 400px;
    width: 500px;
}
.image2{
    height: 100px;
    cursor: pointer;
    width: 120px;
    margin-right: 40px;
}

.piePagina{
    background-color: rgb(110, 206, 174);
    padding: 20px;
    text-align: center;
}
#frmList{
    text-align: center;
}